<!DOCTYPE html>
<html>
<head>
	<meta charset = 'utf-8'>
	<title>
		Welcome to my blog
	</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	{% load static %}
	<div class = 'well'>
		<img src="{% static "images/moon.jpg" %}">
	</div>
	<h1>welcome to my blog</h1>
	<hr>
		{% for post in posts %}	
		<p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
		<a href = '/post/{{ post.slug }}' > {{ post.title }} 發布時間:{{ post.pub_date | date:"Y M d, h:m:s"}}</a>
		</p>	
		{% endfor %}
	<hr>
	<h3> Time : {{ now }}</h3>
</body>
</html>
