<!DOCTYPE html>
<html>
<head>
	<meta charset = 'utf-8'>
	<title>
		Welcome to my blog
	</title>
</head>
<body>
	<h1>{{ post.title }}</h1>
	<hr>
		<p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
		{{ post.body }}

		</p>	
	<hr>
	<h3> <a href ='/'>back </a></h3>
</body>
</html>
